<form method="POST">
<input name="name" value="<%= emp.name %>">
<input name="department" value="<%= emp.department %>">
<input name="salary" value="<%= emp.salary %>">
<button>Update</button>
</form>